.section {
  /* padding: 0 0 8em 0; */
  padding: 8em 0 8em 0;
  width: 100%;
  background-color: var(--mainColor);
  grid-column: span 3;
  position: relative;
  z-index: 0;
}

.section::after {
  content: '';
  background-image: url('../../assets/background.svg');
  background-size: cover;
  opacity: 1;
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  margin-top: -8em;
  background-repeat: repeat;
}

.secTitle h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: .5px;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  max-width: 200px;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 20px 0;
}

.cardHeader h1 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
}

.faceIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.faceIcon img {
  width: 100%;
  border-radius: 50%;
}


@media screen and (min-width: 768px) {
  .section {
    grid-column: span 12;
    padding: 0 0 15em 0;
  }

  .section::after {
    margin-top: -20em;
  }

  .secTitle h1 {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .cardGrid {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    gap: 3em;
  }

  .card {
    max-width: 200px;
  }
}
