.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  grid-column: span 3 / span 3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
}

.hiddenNavbar {
  display: none;
}

.container {
  height: 100%;
}

.navbarContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandWrapper {
  color: var(--mainColor);
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandImage {
  width: 1.6em;
  margin-right: 10px;
}

.brand {
  color: var(--mainColor);
  cursor: pointer;
}

.navLinks {
  transition: 1000ms;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  position: absolute;
  min-width: 100%;
  width: 100%;
  right: 0;
  left: 0;
  top: 80px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  transition: 800ms;
}

.hiddenNavLinks {
  transform: translateX(1000px);
  transition: 800ms;
}

.navLinks li {
  margin: 1.8em;
  text-align: center;
}

.navLinks li a {
  color: #343434;
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}

.navLinks li .active {
  color: var(--mainColor);
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar {
    grid-column: span 12 / span 12;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    height: initial;
    position: static;
    min-height: initial;
    min-width: initial;
    width: initial;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
    top: 0;
    margin: 0;
  }

  .navLinks ul {
    display: flex;
    padding: 0;
    height: 100%;
  }

  .navLinks li {
    margin: 0;
    margin-left: 1.8em;
  }

  .navLinks li a {
    margin: 0;
    font-size: 1em;
    padding: 0;
  }

  .hiddenNavLinks {
    transform: translateY(0);
  }

  .menuBtn {
    display: none;
  }
}
