.section {
  width: 100%;
  grid-column: span 3;
  padding: 2em 0;
}

.contentWrapper {
  display: grid;
}

.contentWrapper h1 {
  text-align: center;
  margin: 1em 0;
}

.imagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagesWrapper img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  box-shadow: rgba(214, 47, 139, 0.2) 5px 5px 2px;
}

.firstImg {
  margin-right: 5em;
  margin-bottom: 1em;
}

.secondImg {
  margin-left: 5em;
  margin-bottom: 1em;
}

/* .firstImg {
  width: 150px;
  height: 270px;
  object-fit: cover;
}

.secondImg {
  width: 150px;
  height: 270px;
  object-fit: cover;
} */

.textWrapper p{
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .section {
    grid-column: span 12;
  }

  .contentWrapper {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .contentWrapper h1 {
    order: 2;
  }

  .imagesWrapper {
    order: 1;
  }

  .textWrapper {
    order: 3;
    grid-column: 2;
  }
}
