.section {
  background-color: #BF3064;
  width: 100%;
  padding: 2em 0;
  grid-column: span 3;
  max-width: 100%;
}

.sectionHeader {
  margin: 1em 0 2em 0;
  position: relative;
}

.sectionHeader h1 {
  color: #fff;
  text-align: center;
}

.sectionHeader::after{
  content: 'Nossos Doces';
  color: #ffff;
  font-size: 2.5em;
  white-space: nowrap;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.08;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  display: none;
}

.productGrid {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 800px;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
}

.card img {
  width: 100%;
  height: calc(200px + 10vw);
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}

.cardContent {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.cardContent h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  letter-spacing: .3px;
}

@media screen and (min-width: 350px) {
  .sectionHeader::after{
    content: 'Nossos Doces';
    font-size: 2.8em;
    left: 0;
    right: 0;
    display: initial;
  }
}

@media screen and (min-width: 768px) {
  .section {
    grid-column: span 12;
  }

  .card {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .imageWrapper {
    width: 100%;
    padding: 0;
    height: 300px;
  }

  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  .cardContent {
    max-width: 90%;
  }

  .sectionHeader::after{
    content: 'Nossos Doces';
    opacity: 0.06;
    left: 20%;
    top: -28px;
    font-size: 5em;
    margin: 0 auto;
    position: absolute;
  }
}


@media screen and (min-width: 1024px) {
  .imageWrapper {
    height: 200px;
  }

}
